*.name
.idea/artifacts/StatisticsServer_war.xml
.idea/artifacts/StatisticsServer_war_exploded.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_1_2_api_2_0_2.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_0_2.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_0_2.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_postgresql_postgresql_9_2_1003_jdbc4.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
*.iml
target/classes/ds.xml
target/classes/items/Material.class
target/classes/items/Node.class
target/classes/items/Pub.class
target/classes/items/Student.class
target/classes/JSON/JSONHandler.class
src/main/webapp/WEB-INF/web.xml
target/classes/JSON/JSONNodes$1.class
target/classes/JSON/JSONNodes.class
target/classes/JSON/JSONPubGeneral$1.class
target/classes/JSON/JSONPubGeneral$2.class
target/classes/JSON/JSONPubGeneral.class
target/classes/JSON/JSONStudents$1.class
target/classes/JSON/JSONStudents.class
target/classes/log4j2.xml
target/classes/model/DatabaseHandler.class
target/classes/servlet/NodesServlet.class
target/classes/servlet/PubServlet.class
target/classes/servlet/StudentsServlet.class
target/classes/test.json
target/MANIFEST.MF
target/StatisticsServer.war
target/StatisticsServer/index.jsp
target/StatisticsServer/META-INF/MANIFEST.MF
target/StatisticsServer/test.html
target/StatisticsServer/WEB-INF/classes/ds.xml
target/StatisticsServer/WEB-INF/classes/items/Material.class
target/StatisticsServer/WEB-INF/classes/items/Node.class
target/StatisticsServer/WEB-INF/classes/items/Pub.class
target/StatisticsServer/WEB-INF/classes/items/Student.class
target/StatisticsServer/WEB-INF/classes/JSON/JSONHandler.class
target/StatisticsServer/WEB-INF/classes/JSON/JSONNodes$1.class
target/StatisticsServer/WEB-INF/classes/JSON/JSONNodes.class
target/StatisticsServer/WEB-INF/classes/JSON/JSONPubGeneral$1.class
target/StatisticsServer/WEB-INF/classes/JSON/JSONPubGeneral$2.class
target/StatisticsServer/WEB-INF/classes/JSON/JSONPubGeneral.class
target/StatisticsServer/WEB-INF/classes/JSON/JSONStudents$1.class
target/StatisticsServer/WEB-INF/classes/JSON/JSONStudents.class
target/StatisticsServer/WEB-INF/classes/log4j2.xml
target/StatisticsServer/WEB-INF/classes/model/DatabaseHandler.class
target/StatisticsServer/WEB-INF/classes/servlet/NodesServlet.class
target/StatisticsServer/WEB-INF/classes/servlet/PubServlet.class
target/StatisticsServer/WEB-INF/classes/servlet/StudentsServlet.class
target/StatisticsServer/WEB-INF/classes/test.json
target/StatisticsServer/WEB-INF/lib/hamcrest-core-1.1.jar
target/StatisticsServer/WEB-INF/lib/json-simple-1.1.1.jar
target/StatisticsServer/WEB-INF/lib/junit-4.10.jar
target/StatisticsServer/WEB-INF/lib/log4j-1.2-api-2.0.2.jar
target/StatisticsServer/WEB-INF/lib/log4j-api-2.0.2.jar
target/StatisticsServer/WEB-INF/lib/log4j-core-2.0.2.jar
target/StatisticsServer/WEB-INF/lib/postgresql-9.2-1003-jdbc4.jar
target/StatisticsServer/WEB-INF/web.xml
