<div class="well" ng-if="data.length > 0">
    <h2>Матеріали:</h2>
    <hr/>
    <div ng-repeat = "material in data" title="material.time">
        <h4>{{material.label}}: <small ng-if="material.attendance <= 1" style="color: red">  Відвідування &lt 1% </small></h4>
        <div class="progress" ng-if ="material.attendance > 1">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{material.attendance}}" aria-valuemin="0" aria-valuemax="100" style="width: {{material.attendance}}%;">
                {{material.attendance}}%
            </div>
        </div>
    </div>
</div>