<div  style="margin-bottom: 20px; position: relative">
    <div style="position: relative" id="searchBox">
        <div class="input-group">
            <div class="input-group-btn">
                <select style="width: 160px" class="form-control btn btn-default" ng-model="searchArea" ng-options="opt.name for opt in options.params track by opt.value">
                </select>
            </div>
            <input id="search-input" placeholder="Текст для пошуку" type="text" class="form-control" ng-model = "searchText" >
            <div class="input-group-btn">
                <button ng-click="search(searchText)" type="button" class="btn btn-default">Пошук</button>
            </div>
        </div>
        <div style="padding-left: 160px">
            <nav-list path = "{{activeResultPath}}" list = "autocompletions" current="searchText" show="showAutocompetions" bold-text="{{activeText}}"></nav-list>
        </div>
    </div>
</div>