<div>
    <div class="modal-header">
        <h3 class="modal-title">Довідка</h3>
    </div>
    <div class="modal-body">
        <slick lazy-load="ondemand" class="slider single-item" ng-cloak class="ng-cloak">
            <div>
                <span>Статистичні дані кожної дисципліни складаються з двох частин: "Загальна статистика"
                    та "Тенденція відвідування матеріалів"</span>
                <div class="demo-image-container">
                    <img style="display: inline-block" data-lazy="/assets/images/demo/pub_statistics_compartments.JPG"/>
                </div>
            </div>
            <div>
                <span>Розділ "Загальна статистика" містить статистичні дані загальні для <i><b>вієї дисципліни.</b></i> Цей розділ містить
                граф переходів між розділами дисципліни.</span>
                <div class="demo-image-container">
                    <img style="display: inline-block" data-lazy="/assets/images/demo/graph_header.JPG"/>
                </div>
                Вузлами графу є розділи дисципліни. Ребра графа з`єднують розділи, переходи між якими були здійснені на протязі вказаного <i><b>інтервалу.</b></i>
                Інтервал можна встанавлювати за допомогою бігунка.
                <div class="demo-image-container">
                    <img style="display: inline-block" data-lazy="/assets/images/demo/graph_interval.JPG"/>
                </div>
            </div>
            <div>
                <span>В розділі "Загальна статистика" міститься графік, який відображає тенденцію відвідування
                дисципліни на протязі останніх <i><b>10 днів.</b></i></span>
                <div class="demo-image-container">
                    <img style="display: inline-block" data-lazy="/assets/images/demo/pub_general_statistics.JPG"/>
                </div>
            </div>
            <div>
                <span>
                    Також в даному розділі відображено статистику відвідування дисципліни студентами. Статистичні дані
                    представлені в процентному відношенні, <i><b>100%</b></i>  - студент час відвідування, якого найбільший.
                    Також при наведені курсора на певного студента, можна побачити точний час.
                                    </span>
                <div class="demo-image-container">
                        <img style="display: inline-block" data-lazy="/assets/images/demo/pub_students_attendance.JPG"/>
                </div>
            </div>
            <div>
                <span>
                    Наступний розділ: "Тенденція відвідування дисципліни". В цьому розділі можна бачити час відвідування кожного
                    конкретного розділу дисципліни в процентному відношенні.
                </span>
                <div class="demo-image-container">
                    <img style="display: inline-block" data-lazy="/assets/images/demo/pub_material_attendance.JPG"/>
                </div>
            </div>

            <div>
                <span>
                    Також в цьому розділі представлена тенденція відвідування кожного розділу
                </span>
                <div class="demo-image-container">
                    <img style="display: inline-block" data-lazy="/assets/images/demo/pub_material_trend.JPG"/>
                </div>
                По осі <i><b>ОХ</b></i> йдуть дати, по осі <i><b>ОY</b></i> - час відвідування в <i><b>хвилинах</b></i>
            </div>

            <div>
                <span>
                        За допомогою даного ресурсу можна отримати дані відвідування конкретного студента. Для цього потрібно перейти
                    до пункту меню "Cтуденти", обрати конкретного студента, обрати предмет. В отриманому вікні можна побачити динаміку
                    відвідування певного предмету певним студентом. Дані представлені в тій самій формі, що і на сторінці дисципліни, але
                    в контексті певного предмету.
                </span>
                <div class="demo-image-container">
                    <img style="display: inline-block" data-lazy="/assets/images/demo/pub_general_statistics.JPG"/>
                </div>
            </div>
        </slick>
    </div>
    <div class="modal-footer">
        <label class="i-checks pull-left">
            <input type="checkbox" ng-model="showHelp"><i></i>Не показувати наступного разу
        </label>
        <button class="btn btn-primary" ng-click="ok()">Зрозуміло</button>
    </div>
</div>