<div  >
    <div class="modal-header">
        <h3 class="modal-title">Довідка</h3>
    </div>
    <div class="modal-body">
        <slick lazy-load="ondemand" class="slider single-item" ng-cloak class="ng-cloak">
            <div>
                <h3>1</h3>
            </div>
            <div>
                <h3>2</h3>
            </div>
            <div>
                <h3>3</h3>
            </div>
            <div>
                <h3>4</h3>
            </div>
            <div>
                <h3>5</h3>
            </div>
            <div>
                <h3>6</h3>
            </div>
        </slick>
    </div>
    <div class="modal-footer">
        <label class="i-checks pull-left">
            <input type="checkbox" ng-model="showNextTime"><i></i>Не показувати наступного разу
        </label>
        <button class="btn btn-primary" ng-click="ok()">Зрозуміло</button>
    </div>
</div>