<div class="page-header"><h1>{{node_stats.pub_name}}</h1></div>
<hr/>
<div class="panel panel-default">
        <div style = "cursor: pointer" ng-click = "collapseGeneral()" class="panel-heading">Загальна статистика
            <div class="pull-right" style="height: 100%; position: relative;">
                <img height="20px;" ng-src="/assets/images/{{imageGeneralDirection}}.png" alt=""/>
            </div>
        </div>
        <div class="panel-body" collapse="generalStatistics">
        <div class="well" style="position: relative">
            <div class = "graph">
                <h4>Граф переходів:</h4>
            </div>
            <div ng-show="loadGraph" style="top: 0px; position: absolute; height: 550px; width: 100%; background-color: rgba(249, 241, 241, 0.5)">
                <div style="text-align: center; vertical-align: middle">
                    <div class="progress"  style="width: 200px; margin: 0 auto; top: 250px; position: relative;">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><span class="sr-only"></span></div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 10px">
                <hr/>
                <h4>Інтервал переходів</h4>

                    <input ng-model="value"  type="text" id="mySlider1" slider mouse-down = "updateGraph()" options="options" />
            </div>
        </div>
            <trend trend="df" name="Загальна статистика:"></trend>
            <bar-chart trend = "trend" ></bar-chart>
        </div>
</div>
<div class="panel panel-default"
         ng-if="showMaterialsTab">
    <div style = "cursor: pointer" ng-click = "collapseTendency()" class="panel-heading">Тенденція відвідування матеріалів
        <div class="pull-right">
            <img height="20px;" src="/assets/images/{{imageTendencyDirection}}.png" alt=""/>
        </div>
    </div>
    <div class="panel-body" collapse="materialStatistics">
        <materials_bar_chart materials_stats = "materials_stats"></materials_bar_chart>
        <trend ng-if="trend.trend.length > 2" trend = "trend.trend" name="{{trend.material_name}}" ng-repeat="trend in materials_trends"></trend>
    </div>
</div>

