<h2>Результати пошуку</h2>
<hr/>
<search options="options"></search>
<list entries="results_list" path = "results.resultPath"></list>
<div  ng-cloak class="ng-cloak well" style="overflow: hidden;" ng-show="results_list.length == 0">
    <div >
        <img class="pull-left" src="/assets/images/sad-cat.png"  />
    </div>
   <div style="margin-left: 17%;" >
       <h3>Схоже, по вашому запиту нічого не знайдено...</h3>
   </div>
</div>
<page_numbers pages="pages" current-page="currentPage" path="/monitor/search/{{routeArea}}/{{queryString}}" ></page_numbers>