body {
    background-image: url("/assets/images/p6.png");
}

.center {
    text-align: center;
}

#canvas-container {
    width: 100%;
    text-align:center;
}

canvas {
    display: inline;
}

.modal-body{
    padding: 45px !important;
}

.link { stroke: #ccc; }
.nodetext { pointer-events: none; font: 10px sans-serif; }


label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.i-checks input:checked+i {
    border-color: #23b7e5;
}

.i-checks {
    padding-left: 20px;
    cursor: pointer;
}

.i-checks input:checked+i:before {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #23b7e5;
}

input[type="checkbox"], input[type="radio"] {
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}

.i-checks>i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    content: "";
    -webkit-transition: all .2s;
    transition: all .2s;
}
.i-checks>i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #cfdadd;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.slick-track{
    overflow: auto;
    max-height: 500px;
}

.demo-image-container{
    text-align: center;
    margin: 20px;
}